---
title: Links
---
<div class="container">

  <div class="article">
    <h1>Links</h1>
    <p>I find a wide variety of things interesting and/or useful on the web. These are just some of them.</p>
    <br>
  </div>

  <div class="article article-ad">
    {% include ad-text.html %}
  </div>

  <div class="programming article">
    <a name="programming">
      <h2>Web development</h2>
      <table class="table table-hover ">
        <tbody>
          <tr>
            <td valign="top" class="td1">
              <p class="p2"><span class="s1">
                  <a href="https://click.linksynergy.com/deeplink?id=gX56itLGvIE&amp;mid=24808&amp;u1=sp&amp;murl=http%3A%2F%2Fwww.informit.com%2Fstore%2Fjavascript-in-24-hours-sams-teach-yourself-9780672338090"><b>Javascript
                      in 24 hours</b></a>
                  <img alt="icon" width="1" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=gX56itLGvIE&amp;bids=145238.1&amp;type=10">
                </span></p>
            </td>
            <td valign="top" class="td2">
              <p class="p2"><span class="s1">In just 24 lessons of one hour or less, Sams Teach Yourself JavaScript in
                  24 Hours helps you learn the fundamentals of web programming using the JavaScript language.<span
                    class="Apple-converted-space"> </span></span></p>
            </td>
          </tr>
          <tr>
            <td valign="top" class="td1">
              <p class="p2"><span class="s1">
                  <a href="https://click.linksynergy.com/deeplink?id=gX56itLGvIE&amp;mid=24808&amp;u1=sp&amp;murl=http%3A%2F%2Fwww.informit.com%2Fstore%2Fhtml-css-and-javascript-all-in-one-covering-html5-css3-9780672338083"><b>HTML,
                      CSS, ES6 all in one</b></a>
                  <img alt="icon" width="1" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=gX56itLGvIE&amp;bids=145238.1&amp;type=10">
                </span></p>
            </td>
            <td valign="top" class="td2">
              <p class="p2"><span class="s1">A solid understanding of HTML, CSS, and JavaScript -- and how they work
                  together -- is vital to any kind of contemporary web development. And these core technologies are
                  only growing in importance as contemporary web development moves away from a reliance on proprietary
                  technologies like Flash for rich interface and mobile applications.<span class="Apple-converted-space"> </span></span></p>
            </td>
          </tr>
          <tr>
            <td valign="top" class="td1">
              <p class="p2"><span class="s1">
                  <a href="https://click.linksynergy.com/deeplink?id=gX56itLGvIE&amp;mid=24808&amp;u1=sp&amp;murl=http%3A%2F%2Fwww.informit.com%2Fstore%2Flearning-react-a-hands-on-guide-to-building-web-applications-9780134843551"><b>A
                      Hands-On Guide to Building Web Applications Using React</b></a>
                  <img alt="icon" width="1" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=gX56itLGvIE&amp;bids=145238.1&amp;type=10">
                </span></p>
            </td>
            <td valign="top" class="td2">
              <p class="p2"><span class="s1">Learning ReactA hands-on guide to building web applications using React
                  and Redux
                  As far as new web frameworks and libraries go, React is quite the runaway success. It not only deals
                  with the most common problems developers face when building complex apps, it throws in a few
                  additional tricks that make building the visuals for such apps much, much easier.<span class="Apple-converted-space"> </span></span></p>
            </td>
          </tr>
        </tbody>
      </table>
  </div>

  <div class="article article-ad">
    {% include ad-text.html %}
  </div>

  <div class="misc article">
    <a name="misc">
      <h2>Misc</h2>
      <table class="table table-hover ">
        <tbody>
          <tr>
            <td valign="top" class="td1">
              <p class="p2"><span class="s1"><a href="https://ahsstyle.esstudio.site/"><b>American Horror Story Fashion
                      blog</b></a></span></p>
            </td>
            <td valign="top" class="td2">
              <p class="p2"><span class="s2">This site is an inspiration style guide to some of the iconic American
                  Horror Story characters. On this website you can search for different American Horror Story
                  characters and their unique clothing style.<span class="Apple-converted-space"> </span></span></p>
            </td>
          </tr>
          <tr>
            <td valign="top" class="td3">
              <p class="p2"><span class="s1"><a href="https://ycae.esstudio.site/"><b>Youtube Comment Generator</b></a></span></p>
            </td>
            <td valign="top" class="td4">
              <p class="p2"><span class="s2">Generates fake youtube comments for a given video. The created comments
                  are based on the existing comments on that video. If a youtube video has alot of comments the results
                  will be best.<span class="Apple-converted-space"> </span></span></p>
            </td>
          </tr>
          <tr>
            <td valign="top" class="td5">
              <p class="p2"><span class="s2"><b>Ask </b><a href="https://esstudio.site/echochamber-affinity/"><span
                      class="s1"><b>Echochamber Affinity</b></span></a></span></p>
            </td>
            <td valign="top" class="td6">
              <p class="p2"><span class="s2">Check your twitter personality. On which side of the political spectrum do
                  you fall?<span class="Apple-converted-space"> </span></span></p>
            </td>
          </tr>
        </tbody>
      </table>
  </div>

  <div class="article article-ad">
    {% include ad-text.html %}
  </div>

  <div class="podcasts article">
    <a name="podcasts">
      <h2>ESStudio</h2>
      <table class="table table-hover ">
        <tbody>
          <tr>
            <td valign="top" class="td1">
              <p class="p2"><span class="s1"><a href="https://esstudio.site/blog/"><b>ESStudio Blog</b></a></span></p>
            </td>
            <td valign="top" class="td2">
              <p class="p2"><span class="s2">Get all information about our studio from latest news posts & updates
                  page.<span class="Apple-converted-space"> </span></span></p>
            </td>
          </tr>
          <tr>
            <td valign="top" class="td3">
              <p class="p2"><span class="s1"><a href="https://esstudio.site/"><b>ESStudio Homepage</b></a></span></p>
            </td>
            <td valign="top" class="td4">
              <p class="p2"><span class="s2">Home page of Echo Sierra Studio and lander page for all projects (and
                  useless thingies) by ESS.</span></p>
              </p>
            </td>
          </tr>
          <tr>
            <td valign="top" class="td1">
              <p class="p2"><span class="s1"><a href="https://www.radiolab.org"><b>Radiolab (NPR)</b></a></span></p>
            </td>
            <td valign="top" class="td2">
              <p class="p2"><span class="s2">Radiolab has a huge fanbase and it’s not without reason. They do a great
                  job of keeping your attention with engrossing topics and amazing audio work. <span class="Apple-converted-space"> </span></span></p>
            </td>
          </tr>
          <tr>
            <td valign="top" class="td5">
              <p class="p2"><span class="s1"><a href="https://esstudio.site/contact/"><b>Contact</b></a></span></p>
            </td>
            <td valign="top" class="td6">
              <p class="p2"><span class="s2">Echo Sierra Studio's contact page. Get in contact with us.<span class="Apple-converted-space"> 
                  </span></span></p>
            </td>
          </tr>
        </tbody>
      </table>
  </div>

</div>