<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <p class="navbar-brand">{{ site.name }}</p>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="{{ site.baseurl }}/">Word Finder</a></li>
        <li><a href="{{ site.baseurl }}/projects.html">Projects</a></li>
        <li><a href="{{ site.baseurl }}/links.html">Links</a></li>
        <li><a href="{{ site.baseurl }}/blog.html">Blog</a></li>
        <li><a href="{{ site.baseurl }}/words.html">Words starting with...</a></li>
        <li><a href="{{ site.baseurl }}/about.html">About</a></li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</div>

<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand"><a href="{{ site.baseurl }}/">
        <h1 class="brand">{{ site.name }}</h1>
      </a>
      <h3 style="text-indent: 0; padding-left: 40px;">{{ site.description }}</h3>
    </li>
    <hr />
    <li><a href="{{ site.baseurl }}/">Word Finder</a></li>
    <li><a href="{{ site.baseurl }}/projects.html">Projects</a></li>
        <li><a href="{{ site.baseurl }}/links.html">Links</a></li>
        <li><a href="{{ site.baseurl }}/blog.html">Blog</a></li>
    <br>
    <li><a href="{{ site.baseurl }}/words.html"><b>Words</b></a></li>
    {% for page in site.words %}
    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
    {% endfor %}
    <br>
    <li><a href="{{ site.baseurl }}/about.html">About</a></li>
    <hr />
    <div id="social-wrapper">
      <li> <a target="_blank" href="{{ site.twitter }}"><i class="fa fa-twitter-square"></i> @twitter</a></li>
      <li> <a target="_blank" href="{{ site.facebook_username }}"><i class="fa fa-facebook-square"></i> facebook</a></li>
      <li> <a target="_blank" href="{{ site.github }}"><i class="fa fa-github-square"></i> github</a> </li>
    </div>
    <div style="margin-left: 40px;">
      {% include share.html %}
    </div>
  </ul>
</div>